# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
.env
.prettierrc.json

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

typings/
lib/*.js
test/*.js
*.map

.vscode

# Aiken compilation artifacts
on-chain-bridge/artifacts/
# Aiken's project working directory
on-chain-bridge/build/
# Aiken's default documentation export
on-chain-bridge/docs/
